<h3>This is the classroom you selected</h3>

<p><%= @classroom.name %></p>
<% @classroom.courses.each do |coursename| %>
  <p><%= link_to coursename.name, course_path(coursename) %></p>
<% end %>
<p><%= link_to "Edit", edit_classroom_path %></p>