.create
  %h3.createtitle#one What shall we create today?
  %h3.createtitle#two What shall we create today?

  %ul
    %li= link_to 'a Course', new_course_path
    %li= link_to 'a Category', new_category_path
    %li= link_to 'a Classroom', new_classroom_path