<h3>These are all the courses</h3>

<% @courses.each do |course| %>
  <p><%= link_to course.name, course_path(course) %></p>
  <p><%= truncate(course.about, length: 200, omission: '...! ') {link_to "continue", course_path(course)} %></p>
<% end %>