<div class="courseindex">
    <h3 class="courseindextitle">General Assembly <br>Courses</br></h3>
    <h5 class="courseindexsubtitle">what's shaka-lacking below?</h5>
    <div class="yellow"></div>
    <div class="course">
    <% @courses.each do |course| %>
      <p>
      <div class="courseitem">
      <div class="coursename"><%= link_to course.name.upcase, course_path(course) %></div>
      <div class="coursedate"><%= course.start_date %></div>
      <p class="coursedescription"><%= truncate(course.about, length: 160, omission: '...! ')%></p>
      <p class="readon"><%= link_to "read on.", course_path(course) %></p>
      </div>
      </p>
    <% end %>
  </div>
</div>
