<div class="animated fadeInUpBig">
  <div class="hello">
    <h2><span>GA</span>genda</h2>
  </div>


  <div class="hellosub">
    <%= link_to "YOUR ONE STOP SHOP. →", new_user_registration_path %>
  </div>
</div>