.newclassform, 
.newcatform,
.newcourseform {
  text-align: center;
  margin: 0 auto;
}

/*NEW COURSE*/

.newcoursebutton {
  margin-left: 570px;
  padding-bottom: 90px;
   }

.newcoursetitle {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  font-size: 50px;
  padding-top: 80px;
  color:white;
  font-style: italic;
}

.date span.prefix {
  height: 111px;
  padding-top: 38px;
}

.input.check_boxes.optional.course_categories label {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
  text-align: center;
}

label {
  margin-left: 5px;
}

/*NEW CAT*/
.newcattitle,
.newclasstitle {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  font-size: 50px;
  padding-top: 200px;
  color:white;
  font-style: italic;
}

.about .prefix {
  height:50px;
  padding-top: 7px;
}

textarea#category_about {
  padding-top: 11.5px;
  font-size: 15px;
}

.newcatform .row,
.newclassform .row {
  width: 50%
}

.newcourseformfield .large-centered .row {
  width: 40%;
}
/*CATEGORY INDIV PAGE*/
.catindivpage {
  background-color:#AFB1E4;
}

.cattitle h3 {
  margin-left: 352px;
  position: fixed;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 85px;
  bottom:13px;
  color:white;
  font-style: italic;
}

.catcourses {
  
}

/*CATEGORY DIRECTORY*/
.catindex {
  background-color: #D9B58C;
  padding-bottom: 40px;
}

.cattitle {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  font-size: 80px;
  padding-top: 270px;
  color:white;
  line-height: 60%;
}

.catsubtitle {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
  color:#BEE9DE;
  margin-bottom: 300px;
}

h4.catname {
  padding-top: 30px;
}

.catname a {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 60px;
}

.categories {
  background-color: white;
  text-align: center;
}

p.catcoursename {
  margin-bottom: 0px;
}

.catcoursename a {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color:#FEC56D;
  font-weight: 300;
  }

.catabout {
  color: #113231;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width:500px;
  margin: 0 auto;
  margin-bottom: 30px;
  }

.catcoursename a:hover {
  color: #FE4148;
}

::-webkit-input-placeholder {
  color: #909195;
}

input#category_name,
input#classroom_description,
input#category_about,
input#classroom_chair_rating,
input#classroom_name
 {
  color:#FF0038;
}