.courseindex {
  background-color: #FEC56D;
}

.courseindextitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 100px;
  padding-top: 270px;
  color:white;
  line-height: 75%;
  position:fixed;
  padding-left: 60px;
}

.courseindexsubtitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 60px;
  color:#FE4148;
  padding-bottom: 500px;
  padding-top: 400px;
  padding-left: 60px;
  position:fixed;
}

.coursedescription {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.courseindex h4 {
  font-size: 20px;
}

.readon a {
  color: #FE4148;
}

.course {
  text-align: right;
  background-color: #133938;
  padding-top: 30px;
}

.yellow {
  background-color: #FEC56D;
  width:100%;
  height:700px;
}

.coursedate {
  font-family: 'Playfair Display', serif;
  color:#FE4148;
  font-size: 20px;
  font-style: italic;
}

.courseitem {
  border: dotted solid white 3px;
  margin-bottom: 50px;
  background-color: #133938;
  position:relative;
  width: 400px;
  margin-right: 50px;
  display: inline-block;
}

.coursename a {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color:#FEC56D;
  font-weight: 300;
  }

.coursename a:hover {
  color: #FE4148;
}
