/*COURSE SHOW*/

.courseshow {
  height: 100%;
  width: 100%;
  background-color: #FCFCF7;
}

.courseshowname {
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  float:right;
  margin-top: 200px;
  margin-right: 200px;
  margin-left: 50px;
  color: #3945AC;
  text-decoration: underline;
  width: 450px;
  text-align: right;
}

.courseshowname p {
  text-align: right;
  font-size: 40px;
}

.courseinfo {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  width: 40%;
  margin-left: 170px;
  padding-top: 100px;
}
.courseshowname .coursenamesub{
  line-height: 0.8;
  text-decoration: none;
}

.courseshowadd a {
  color:red;
  font-size: 30px;
  font-family: 'Vollkorn', serif;
  text-decoration: underline;
}

/*COURSE INDEX*/
.courseindex {
  background-color: #FEC56D;
}

.courseindextitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 100px;
  padding-top: 270px;
  color:white;
  line-height: 75%;
  position:fixed;
  padding-left: 60px;
}

.courseindexsubtitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 60px;
  color:#FE4148;
  padding-bottom: 500px;
  padding-top: 400px;
  padding-left: 60px;
  position:fixed;
}

.coursedescription {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.courseindex h4 {
  font-size: 20px;
}

.readon a {
  color: #FE4148;
}

.course {
  text-align: right;
  background-color: #133938;
  padding-top: 30px;
}

.yellow {
  background-color: #FEC56D;
  width:100%;
  height:700px;
}

.coursedate {
  font-family: 'Playfair Display', serif;
  color:#FE4148;
  font-size: 20px;
  font-style: italic;
}

.courseitem {
  border: dotted solid white 3px;
  margin-bottom: 50px;
  background-color: #133938;
  position:relative;
  width: 400px;
  margin-right: 50px;
  display: inline-block;
}

.coursename a {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color:#FEC56D;
  font-weight: 300;
  }

.coursename a:hover {
  color: #FE4148;
}
