/*GAgenda*/

.hello h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 200px;
  letter-spacing: 2px;
  color: #E4EFF6;
  text-align: center;
  margin-top: 180px;
  line-height: 99%;
}

.hello span {
  font-family: 'Oswald', sans-serif;
  }

.hellosub a {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color:white;
  font-size: 35px;
  letter-spacing: 3px;
  color:#FE4148;
}

.hellosub {
  padding-left: 580px;
}

.hellosub a:hover {
  background-color: #E4EFF6;
  padding-left: 10px;
}

/*LOG IN AND SIGN UP (PUBLIC) & PROFILE EDIT*/
body {
  background-color: #133938;
}

.signup-header, .login-header {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 52px;
  letter-spacing: 2px;
  color: #E4EFF6;
}

.login-header {
  font-size: 60px;
}

.login, .signup, input.button {
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 5px 20px;
}

.signup {
  padding-top: 100px;
}

.login {
  padding-top: 50px;
}

.profileedit {
  padding-top: 80px;
}

.sharedlinks {
  font-size: 15px;
}

.sharedlinks a:hover {
  color: #E3B1AB;
}

.pubnav a:hover {
  color:#FF0038;
}

.login, .signup, .profileedit{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.login {
  margin-top: 100px;
}

.login .row {
  margin: 0 auto;
  width: 50%;
}

.profileedit .row {
  margin: 0 auto;
  width: 30%;
}

.profileedit .rowlarge .row {
  width: 60%;
}

.rowlarge .row.collapse.prefix-radius {
  margin: 0 auto;
}
.signup .row {
  margin: 0 auto;
  width: 30%;
}

input#user_remember_me {
  margin-right: 10px;
}

input.button {
  background-color: #FF0038;
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: 10px;
}

input.button:hover {
  color: white;
}

.sharedlinks a {
  color:#D1F0E6;
}

span.prefix {
  background-color: #D1F0E6;
  color:#133938;
}

::-webkit-input-placeholder {
  color: #909195;
}

input#user_name,
input#user_password,
input#user_email,
input#user_password_confirmation {
  color:#FF0038;
}

label.boolean.optional.checkbox {
  color:#D1F0E6;
}
/*PUBLIC NAV*/

.signup .top-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #D1F0E6;
  width: 100%;
  margin-left: -20px;
}

nav.top-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #D1F0E6;
  width: 100%;
}

.pubnav li {
  list-style-type: none;
  display: inline;
  margin: 0px 20px 0px 20px;
}

.pubnav a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2.5px;
}

.publicnavlogo {
  position:fixed;
  bottom: 0;
  margin: 0 auto;
}

.pubnav ul {
  margin-top: 3px;
  text-align: center;
}