/*LOG IN AND SIGN UP (PUBLIC)*/
body {
  background-color: #133938;
}

.signup-header, .login-header {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 52px;
  letter-spacing: 2px;
  color: #E4EFF6;
}

.login, .signup, input.button {
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 5px 20px;
}

.signup {
  padding-top: 80px;
}

.sharedlinks {
  font-size: 15px;
}

.login, .signup, .profileedit{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.login {
  margin-top: 100px;
}

.publictopbar, .profileedit, .row {
  max-width: 360px;
  margin: 0 auto;
}

input#user_remember_me {
  margin-right: 10px;
}

input.button {
  background-color: #FF0038;
}

.sharedlinks a {
  color:#C2EBDF;
}

span.prefix {
  background-color: #C2EBDF;
  color:#133938;
}
/*PUBLIC NAV*/

nav, .top-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 39px;
  background-color: white;
  width: 1518px;
  margin-left: -560px; 
}

.pubnav li {
  list-style-type: none;
  display: inline;
  margin: 0px 20px 0px 20px;
}

.publicnavlogo {
  position:fixed;
  bottom: 0;
  margin: 0 auto;
}

.pubnav ul {
  margin-top: 7px;
}