<%= minimal_form_for(@category) do |f| %>
  <p>
  <%= f.input :name, placeholder: 'category name' %>
  </p>
  <p>
  <%= f.input :about, as: :text, placeholder: 'about this category' %>
  </p>
  <p>
  <%= f.button :submit %>
  </p>
<% end %>